@import "bootstrap.less";
@import "responsive.less";
@import "grayscale_filter.less";

.client-logos {
    text-align: center;
}

.client-logos img {
    .grayscale_filter;
    margin-left: 25px;
    margin-right: 25px;
}

body>header .navbar {
    margin-top: 215px;
}

body>header {
    padding-top: 10px;
    height: 400px;
    background-image: url('../images/cityscape.jpg');
    background-position: 0px -50px;
}

.zce-logo-size(@scale: 1) {
    height: floor((68px * @scale));
    width: floor((73px * @scale));
}

.zce5-3-logo {
    background: url('http://www.zend.com/topics/zce-php5-3-logo.gif') no-repeat;
    .background-size(auto 100%);
    .zce-logo-size;
}

.zce5-logo {
    background: url('http://www.zend.com/topics/php5-zce-logo-new.gif') no-repeat;
    .background-size(auto 100%);
    .zce-logo-size;
}

.zfce-logo {
    background: url('http://www.zend.com/topics/zf-zce-logo.gif') no-repeat;
    .background-size(auto 100%);
    .zce-logo-size;
}

.team > header{
    border-bottom: 2px solid @black;
    margin-bottom: 60px;
}

.team .member {
    .clearfix;
    header {
        h1,h2{
            display: inline;
        }
        h1 {
            font-size: 170%;
        }
        h2 {
            margin-left: 15px;
            font-size: 110%;
        }
    }
    .photo {
        float: left;
        margin-right: 30px;
        .certs {
            width: 180px;
            margin: -30px auto 0;
            text-align: center;
            min-height: 70px;
            div {
                display: inline-block;
                margin-bottom: 2px;
                vertical-align: top;
                .zce-logo-size(0.7);
                transition: all 0.5s ease;
            }
            div:hover {
                .zce-logo-size(0.9);
            }

        }
        > img {
            .img-polaroid;
        }
    }
    + .member {
        margin-top: 40px;
    }
}
