<!DOCTYPE html>
<html>
  <head>
    <title>Roave</title>

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300italic,400,400italic,600,700,900&subset=latin,latin-ext' rel='stylesheet'/>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet'/>
    <%# for headings link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' %>

    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link rel='stylesheet' href='/css/reset.css' />
    <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <link rel='stylesheet' href='//jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow-night.css' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='stylesheet' href='//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css' />
  </head>
  <body>
    <header>
      <a href='/'><div id="logo">
        <!-- img(src="/logo.png") -->
        <img src="/roave-logo-tiny.svg"/>
        <!-- //span Roave -->
      </div></a>

      <ul class="menu">
        <li> <a href="#">Portfolio</a></li>
        <li> <a href="/blog">Blog</a></li>
        <li> <a href="/about">About</a></li>
      </ul>
    </header>

    <div class="splash">
      <div class="zimg"></div>
      <div class="darken"></div>
      <div class="punchline">
        <h3>Roave is a hand-picked team of some of the most talented developers in the PHP community</h3>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <ul>
        <li>
          <h3>About</h3>
          <p>Because we need a decent human-readable format that unambiguously maps to a hash table and the YAML spec is like 80 pages long and gives me rage. No, JSON doesn't count. You know why.</p>
        </li>
        <li>
          <h3>Inquiries</h3>
          <p>when you're trying very hard to focus on something and will choose that exact moment to drop her ball at your feet.</p>
        </li>
        <li>
          <h3>Contact</h3>

          <dl>
            <dt>Phone</dt>
            <dd><a href="tel:1855557623">1-855-55-ROAVE</a></dd>
          </dl>
          <dl>
            <dt>Email</dt>
            <dd><a href="mail:info@roave.com">info@roave.com</a></dd>
          </dl>
          <dl>
            <dt>Twitter</dt>
            <dd><a href="http://twitter.com/roaveteam">@RoaveTeam</a></dd>
          </dl>
          <dl>
            <dt>Google+</dt>
            <dd><a href="http://google.com/+Roave">Roave</a></dd>
          </dl>
        </li>
      </ul>
      <hr />
      &copy; Roave 2014
    </footer>
  </body>
</html>