body {
    background-image: url('../images/bg.png');
}

.logo.small {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 333px;
    height: 125px;
}
