body {
    padding-top: 0px;
}
.carousel {
    margin-bottom: 40px;
}
.carousel .container {
    position: relative;
    z-index: 9;
}
.carousel-control {
    background-color: transparent;
    border: 0px;
    font-size: 120px;
    height: 80px;
    margin-top: 10px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
    z-index: 10;
}
.carousel .item {
    height: 500px;
}
.carousel img {
    height: 500px;
    left: 0px;
    min-width: 100%;
    position: absolute;
    top: 0px;
}
.carousel-caption {
    background-color: transparent;
    margin-left: 50px;
    margin-top: 150px;
    max-width: 550px;
    padding: 0px 20px;
    position: static;
}
.carousel-caption h1,
.carousel-caption .lead {
    color: #fff;
    line-height: 1.25;
    margin: 0px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
    margin-top: 10px;
}
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
    /* Featurettes;
    ------------------------- */
}
.featurette-divider {
    /* Space out the Bootstrap <hr>more */
    margin: 80px 0px;
}
.featurette {
    /* Vertically center images part 2: clear their floats. */
    overflow: hidden;
    padding-top: 120px;
}
.featurette-image {
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    margin-top: -120px;
    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
}
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
    /* Thin out the marketing headings */
}
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    /* RESPONSIVE CSS;
    -------------------------------------------------- */
}
@media (max-width:979px) {
    .featurette-image.pull-left,
    .container.navbar-wrapper {
        margin-bottom: 0px;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0px;
        margin: -20px 0px;
    }
    .carousel .item {
        height: 500px;
    }
    .carousel img {
        height: 500px;
        width: auto;
    }
    .featurette {
        height: auto;
        padding: 0px;
    }
    .featurette-image.pull-right {
        display: block;
        float: none;
        margin: 0px auto 20px;
        max-width: 40%;
    }
}
@media (max-width:767px) {
    .navbar-inner {
        margin-left: 50px;
        margin: -20px;
    }
    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel .container {}
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        height: 300px;
    }
    .carousel-caption {
        margin-left: 50px;
        margin-top: 100px;
        padding: 0px 70px;
        width: 50%;
    }
    .carousel-caption h1 {
        font-size: 20px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
        font-size: 14px;
    }
    .marketing .span4+.span4 {
        margin-top: 40px;
    }
    .featurette-heading {
        font-size: 20px;
    }
    .featurette .lead {
        font-size: 14px;
        line-height: 1.5;
    }
    /* Custom container */
}
.container-narrow {
    margin: 0px auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0px;
    /* Main marketing message and sign up button */
}
.jumbotron {
    margin: 60px 0px;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    /* Supporting marketing content */
}
.marketing {
    margin: 60px 0px;
}
.marketing p+h4 {
    margin-top: 28px;
}

.social-media {
    display: none;
}
